<div class="container-fluid page-start">
  <div class="discover-panel">
      <div class="row discover-head no-margin">
          <h4>Discover Profile</h4>
      </div>

      <div class="discover-people">
          <div class="discover-people-block row no-margin">
              <div class="discover-people-head row no-margin">
                  <div class="left">
                      <div class="user-img">
                          <a href="view-profile.html">
                              <img src="../../assets/../../assets/img/model-user.jpg">
                          </a>
                      </div>

                      <div class="user-name">
                          <a href="view-profile.html">
                              <h5>alianacasandra@12</h5>
                          </a>
                          <p class="name">aliana casandra</p>
                      </div>
                  </div><!--end of left-->

                  <div class="right">
                      <div class="follow-button">
                          <a href="#">Follow</a>
                      </div>
                  </div><!--end of right-->
              </div><!--end of discover-people-head--> 

              <div class="discover-people-bottom row-margin">
                  <p class="no-post">No posts yet</p>
              </div>
          </div><!--end of discover-people-block -->

          <div class="discover-people-block row no-margin">
              <div class="discover-people-head row no-margin">
                  <div class="left">
                      <div class="user-img">
                          <a href="view-profile.html">
                              <img src="../../assets/img/model-user.jpg">
                          </a>
                      </div>

                      <div class="user-name">
                          <a href="view-profile.html">
                              <h5>alianacasandra@12</h5>
                          </a>
                          <p class="name">aliana casandra</p>
                      </div>
                  </div><!--end of left-->

                  <div class="right">
                      <div class="follow-button">
                          <a href="#">Follow</a>
                      </div>
                  </div><!--end of right-->
              </div><!--end of discover-people-head--> 

              <div class="discover-people-bottom row-margin">
                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model.jpg);"></div>
                  </div>

                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model1.jpg);"></div>
                  </div>

                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model-user.jpg);"></div>
                  </div>
              </div>
          </div><!--end of discover-people-block -->

          <div class="discover-people-block row no-margin">
              <div class="discover-people-head row no-margin">
                  <div class="left">
                      <div class="user-img">
                          <a href="view-profile.html">
                              <img src="../../assets/img/model-user.jpg">
                          </a>
                      </div>

                      <div class="user-name">
                          <a href="view-profile.html">
                              <h5>alianacasandra@12</h5>
                          </a>
                          <p class="name">aliana casandra</p>
                      </div>
                  </div><!--end of left-->

                  <div class="right">
                      <div class="following-button">
                          <a href="#">Following</a>
                      </div>
                  </div><!--end of right-->
              </div><!--end of discover-people-head--> 

              <div class="discover-people-bottom row-margin">
                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model.jpg);"></div>
                  </div>

                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model1.jpg);"></div>
                  </div>

                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model-user.jpg);"></div>
                  </div>
              </div>
          </div><!--end of discover-people-block -->

          <div class="discover-people-block row no-margin">
              <div class="discover-people-head row no-margin">
                  <div class="left">
                      <div class="user-img">
                          <a href="view-profile.html">
                              <img src="../../assets/img/model-user.jpg">
                          </a>
                      </div>

                      <div class="user-name">
                          <a href="view-profile.html">
                              <h5>alianacasandra@12</h5>
                          </a>
                          <p class="name">aliana casandra</p>
                      </div>
                  </div><!--end of left-->

                  <div class="right">
                      <div class="follow-button">
                          <a href="#">Follow</a>
                      </div>
                  </div><!--end of right-->
              </div><!--end of discover-people-head--> 

              <div class="discover-people-bottom row-margin">
                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model.jpg);"></div>
                  </div>

                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model1.jpg);"></div>
                  </div>

                  <div class="col-sm-4 no-padding">
                      <div class="image1" style="background-image: url(../../assets/img/model-user.jpg);"></div>
                  </div>
              </div>
          </div><!--end of discover-people-block -->
      </div><!--end of discover-people -->
  </div>