<div class="container-fluid page-start">
    <div class="edit-profile-panel">
        <div class="edit-profile-menu row no-margin">
            <div class="col-sm-3 no-padding">
                <div class="edit-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Edit Profile</a></li>
                        <li role="presentation"><a href="#change-password" aria-controls="profile" role="tab" data-toggle="tab">Change Password</a></li>
                    <!-- <a routerLink="/reset">reset</a> -->
                    </ul>
                </div>
                <!--end of edit-profile-tabs-->
            </div>
            <!--end of column-->

            <div class="col-sm-9">
                <div class="tab-content">
                    <!-- home tap-panel -->
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="edit-profile-tab">
                            <div class="edit-profile-inner">

                                <div class="profile-user row no-margin">
                                    <div class="col-sm-3">
                                        <div class="profile-img float-left">
                                            <a ><img src="{{profilepic}}"></a>
                                        
                                        </div>
                                    </div>


                                    <div class="col-sm-9">
                                        <div class="profile-name">
                                            <a >
                                                <h5 class="no-margin" style="font-weight: 400;">{{name}}</h5>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <!--end of profile-user-->

                                <div class="edit-profile-form">
                                    <form class="edit-form" (ngSubmit)="Submit(updateUser)" #updateUser="ngForm">
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-3 col-form-label">User Name</label>
                                            <div class="col-sm-9">
                                                <!--hidden field-->
                                                <input class="form-control" type="hidden" id="cookiename" name="id" [(ngModel)]="current_id " value="{{current_id}}" />
                                                <!--/end of hidden field-->
                                                <input class="form-control" [(ngModel)]="name" #uname (ngModelChange)="uniquenames(uname)" type="text" value="{{name}}" name="name" id="name">
                                                <p *ngIf="errorname"> existing user please try with another username</p>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="username" class="col-sm-3 col-form-label">Name</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" [(ngModel)]="username" name="username"  type="text" value="{{username}}" id="username">
                                               
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email" class="col-sm-3 col-form-label">Website</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" [(ngModel)]="website" name="website" value="{{website}}" type="email" id="email">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="bio" class="col-sm-3 col-form-label">Bio</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" [(ngModel)]="bio" name="bio" id="bio" value="{{bio}}" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3">

                                            </div>

                                            <div class="col-sm-9">
                                                <h5 class="private-info">Private Information</h5>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{email}}" #emails (ngModelChange)="uniqueemail(emails)">
                                                <p *ngIf="errormail"> existing user please try with another mailid</p>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="phonenumber" class="col-sm-3 col-form-label">Phone Number</label>
                                            <div class="col-sm-9">
                                                <input type="text" [(ngModel)]="phonenum" name="phonenumber" class="form-control" id="phonenum" aria-describedby="emailHelp" value="{{phonenum}}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="exampleSelect2" class="col-sm-3 col-form-label">Gender</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="exampleSelect2" [(ngModel)]="gender" name="gender" value="{{gender}}">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="submit-button row no-margin">
                                            <div class="col-sm-3">

                                            </div>

                                            <div class="col-sm-9 no-padding">
                                                <button type="submit" class="btn btn-primary float-left submit" [disabled]="errormail || errorname">Submit</button>
                                                <a class="float-right"(click)="disableacc(current_id)">Temporarily disable my account</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!--end of edit-profile-form-->
                            </div>
                            <!--end of edit-profile-inner-->
                        </div>
                        <!--end of edit-profile-tab-->
                    </div>
                    <!--end of tab-panel-->

                    <!-- change-password -->
                    <div role="tabpanel" class="tab-pane" id="change-password">
                        <div class="edit-profile-tab">
                            <div class="edit-profile-inner">
                                <div class="profile-user row no-margin">
                                    <div class="col-sm-3">
                                        <div class="profile-img float-left">
                                            <a href="#"><img src="{{profilepic}}"></a>
                                        </div>
                                    </div>


                                    <div class="col-sm-9">
                                        <div class="profile-name">
                                            <a href="#">
                                                <h5 class="no-margin" style="font-weight: 400;">{{name}}</h5>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <!--end of profile-user-->

                                <div class="edit-profile-form">
                                    <form (ngSubmit)="submits(changepwd)" #changepwd="ngForm">
                                        <div class="form-group row">
                                                
                                            <label for="password" class="col-sm-3 col-form-label">Old Password</label>
                                            <div class="col-sm-9">
                                                <input  class="form-control" type="password" placeholder="" id="password" name="oldpass" [(ngModel)]="password">
                                                
                                            </div>
                                        </div>
                                        <input class="form-control" type="hidden" id="cookiename" name="name" [(ngModel)]="current_user" value="{{current_user}}" >
                                        <div class="form-group row">
                                            <label for="cnf_password" class="col-sm-3 col-form-label">New Password</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="password" placeholder="" id="changed_password" name="newpass" [(ngModel)]="changed_password">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="retype_password" class="col-sm-3 col-form-label">New Password, Again</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="password" placeholder="" id="retype_password" name="retype_password" [(ngModel)]="retype_password">
                                            </div>
                                        </div>

                                        <div class="submit-button row no-margin">
                                            <div class="col-sm-3">

                                            </div>

                                            <div class="col-sm-9 no-padding" >
                                
                                                <button type="submit" [disabled]="(changed_password!=retype_password) || (!password || !changed_password ||!retype_password)"  class="btn btn-primary float-left submit">Change Password</button>
                                            </div>
                                        </div>
                                        <!--end of submit-button-->
                                    </form>
                                </div>
                                <!--end of edit-profile-form-->
                            </div>
                            <!--end of edit-profile-inner-->
                        </div>
                        <!--end of edit-profile-tab-->
                    </div>
                    <!--end of tab-panel-->
                </div>
            </div>
            <!--end of column-->

        </div>
        <!--end of edit-profile-menu-->
    </div>
    <!--end of edit-profile-panel-->