<div class="container-fluid page-start">
  <div class="edit-profile-panel">
      <div class="edit-profile-menu row no-margin">
          <div class="col-sm-3 no-padding">
             <div class="edit-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#edit-profile" aria-controls="home" role="tab" data-toggle="tab">Edit Profile</a></li>
                      <li role="presentation"><a href="#change-password" aria-controls="profile" role="tab" data-toggle="tab">Change Password</a></li>
                  </ul>
              </div><!--end of edit-profile-tabs--> 
          </div><!--end of column-->

          <div class="col-sm-9">
              <div class="tab-content">
                  <!-- home tap-panel -->
                  <div role="tabpanel" class="tab-pane active" id="home">
                      <div class="edit-profile-tab">
                          <div class="edit-profile-inner">

                              <div class="profile-user row no-margin">
                                  <div class="col-sm-3">
                                      <div class="profile-img float-left">
                                          <a href="#"><img src="img/model-user.jpg"></a>
                                      </div>
                                  </div>


                                  <div class="col-sm-9">
                                      <div class="profile-name">
                                          <a href="#"><h5 class="no-margin" style="font-weight: 400;">aliana casandra</h5></a>
                                      </div>
                                  </div>
                                  
                              </div><!--end of profile-user-->

                              <div class="edit-profile-form">
                                  <form class="edit-form"  (ngSubmit)="Submit(updateUser)" #updateUser="ngForm">
                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Name</label>
                                          <div class="col-sm-9">
                                                <input type="hidden" [(ngModel)]="name"  name="name"  value="{{name}}"   />
                                              <input class="form-control"[(ngModel)]="name" type="text" placeholder="{{name}}" name = "name"  id="example-text-input">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">User Name</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" [(ngModel)]="uname" name = "uname" type="text" placeholder="{{name}}" id="example-text-input">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Website</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" [(ngModel)]="website"  name="website" type="email" placeholder="{{website}}" id="example-text-input">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Bio</label>
                                          <div class="col-sm-9">
                                              <textarea class="form-control" [(ngModel)]="bio" name="bio" id="exampleTextarea" rows="3">{{bio}}</textarea>
                                          </div>
                                      </div>
                                 
                                      <div class="row">
                                          <div class="col-sm-3">
                                              
                                          </div>

                                          <div class="col-sm-9">
                                              <h5 class="private-info">Private Information</h5>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Email</label>
                                          <div class="col-sm-9">
                                              <input type="email" [(ngModel)]="email" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{email}}">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Phone Number</label>
                                          <div class="col-sm-9">
                                              <input type="text" [(ngModel)]="phonenumber" name="phonenumber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{phonenumber}}">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Gender</label>
                                          <div class="col-sm-9">
                                              <select class="form-control" id="exampleSelect2" [(ngModel)]="gender" name="gender">
                                                  <option>Male</option>
                                                  <option>Female</option>
                                              </select>
                                          </div>
                                      </div>

                                      <div class="submit-button row no-margin">
                                          <div class="col-sm-3">
                                              
                                          </div>

                                          <div class="col-sm-9 no-padding">
                                              <button type="submit" class="btn btn-primary float-left submit">Submit</button>
                                              <a href="#" class="float-right">Temporarily disable my account</a>
                                          </div>
                                          
                                      </div>
                                  </form>
                              </div><!--end of edit-profile-form-->
                          </div><!--end of edit-profile-inner-->
                      </div><!--end of edit-profile-tab-->
                  </div><!--end of tab-panel-->

                  <!-- change-password -->
                  <div role="tabpanel" class="tab-pane" id="change-password">
                      <div class="edit-profile-tab">
                          <div class="edit-profile-inner">
                              <div class="profile-user row no-margin">
                                  <div class="col-sm-3">
                                      <div class="profile-img float-left">
                                          <a href="#"><img src="img/model-user.jpg"></a>
                                      </div>
                                  </div>


                                  <div class="col-sm-9">
                                      <div class="profile-name">
                                          <a href="#"><h5 class="no-margin" style="font-weight: 400;">aliana casandra</h5></a>
                                      </div>
                                  </div>
                                  
                              </div><!--end of profile-user-->

                              <div class="edit-profile-form">
                                  <form>
                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">Old Password</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" type="password" placeholder="" id="example-text-input">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">New Password</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" type="password" placeholder="" id="example-text-input">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="example-text-input" class="col-sm-3 col-form-label">New Password, Again</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" type="password" placeholder="" id="example-text-input">
                                          </div>
                                      </div>

                                      <div class="submit-button row no-margin">
                                          <div class="col-sm-3">
                                              
                                          </div>

                                          <div class="col-sm-9 no-padding">
                                              <button type="submit" class="btn btn-primary float-left submit">Change Password</button>
                                          </div>
                                      </div><!--end of submit-button-->
                                  </form>
                              </div><!--end of edit-profile-form-->
                          </div><!--end of edit-profile-inner-->
                      </div><!--end of edit-profile-tab-->
                  </div><!--end of tab-panel-->
                </div>
          </div><!--end of column-->
          
      </div><!--end of edit-profile-menu-->
  </div><!--end of edit-profile-panel-->