




<div class="container">  
  <div class="row">  
      <div class="form_bg">  <br><br>
          <form #regForm='ngForm' (ngSubmit)="resestingtokens(regForm)" >  
               <h2 class="text-center resetform">Reset password</h2>  
              <br/>  <br><br><br><br>
             
              <div class="form-group">  
                  <input type="password" class="form-control"  id="changed_password" name="password" [(ngModel)]="changed_password" > newpass 
              </div>  
              <div class="form-group">  
                  <input type="password" class="form-control"  id="retype_password" name="passwordagain" [(ngModel)]="retype_password">  newpass again
              </div>  
               <div class="form-group">  
              </div>  
              <br/>  
              <div class="align-center">  
                  <button type="submit" class="btn btn-default"  [disabled]="(changed_password!=retype_password)"  >Reset</button>  
              </div>  
          </form>  
      </div>  
  </div>  
</div>