<div class="container page-start">
  <div class="login row no-margin">
      <div class="col-md-8 login-left">
          <h3 class="log-tit">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
          <p class="log-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4 login-right">
          <div class="login-right-inner text-center">
              <div class="login-logo bg-img" style="background-image: url(../../../../assets/img/logo.png);"></div>
              <p class="log-gray-txt">Login to your Account</p>
              <div class="social-login">
                  <a (click)="signInWithFB()" class="fb-log">
                      <span><i class="ion-social-facebook"></i> Login with Facebook</span>
                  </a>
                  <div class="log-divider">OR</div>
              </div>
              <form class="login-form" (ngSubmit)="Submit(newUser)" #newUser="ngForm">
                   <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Your UserName" name="name" required  [(ngModel)]="name" #uname (ngModelChange)="uniquenames(uname)"> 
                      <p *ngIf="errorUsername"> existing user please try with another username</p>
                  </div>
                  <div class="form-group">
                      
                    <input type="email" class="form-control" placeholder="Enter Your Email" required [(ngModel)]="email" name="email" #emails (ngModelChange)="uniqueemail(emails)">
                    <p *ngIf="errorUseremail ">existing email</p>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" placeholder="Enter Password" required [(ngModel)]="password" name="password">
                  </div>
                  <button class="sub-btn" [disabled]="!newUser.form.valid">Signup</button>
              </form>
              <p class="log-sub-txt">Already have an account? <a routerLink="/login" class="blue-color">Login</a></p>
          </div>
      </div>
  </div>
</div> 